#PublicPost {
    background-color: #001d3d;
    width: 100vw;
    height: 100vh;
  }

#UserImage{
  max-height: 70vh;
  max-width: 40vw;
}

#Panel{
  margin-left: 10vw;
  min-width: 40vw;
  min-height: 70vh;
  background: rgb(20, 97, 128);
  margin-right: 5vw;
  flex-direction: column;
  border-radius: 5px;
}

form{
  flex-direction: column;
}

#ImgWrapper{
  min-width: 40vw;
  min-height: 70vh;
  background-color: darkgrey;
  margin-left: 5vw;
  border-radius: 5px;
}

#TitleLabel{
  margin-bottom: 2vh;
  font-size: 3vw ;
}

#Title{
  padding: 1.5%;
  height: 4vh;
  width: 20vw;
  background-color: rgb(219, 219, 219);
  color: black;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
}

#Title:hover{
 opacity: 0.75;
}

#Save{
  width: 12vw;
  height: 5vh;
  font-size: 1.7vw;
  background-color: black;
  padding: 1.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 1px 2px 0px 3px rgb(44, 47, 88);
  opacity: 0.9;
}

#Save:disabled{
  opacity: 0.3;
  }

.ButtonShare{
  width: 12vw;
  font-size: 1.5vw;
  padding: 6px;
  background-color: rgb(12, 119, 12);
  border-radius: 5px;
  opacity: 0.6;
  box-shadow: 2px 2px 2px 2px black;
}

.ButtonShare:hover{
  opacity: 1;
}

.ButtonSelected{
  opacity: 1;
}

#Link{
  font-size: 1.25vw;
  width: 80%;
  height: 100%;
  display: flex;
  padding: 2%;
  align-items: center;
  background-color: rgb(90, 90, 90);
  color: darkgray;
  border-radius: 5px;
  overflow: hidden;
  text-wrap: nowrap;
}

#LinkWrapper{
  margin-top: 5.5vh;
  margin-bottom: 1vh;
  min-width: 40vw;
  max-width: 40vw;
  height: 40px;
}

#Copy{
  height: 30px;
  width: 30px;
  background-color: black;
  padding: 3px;
  box-shadow: 1px 1px 0 1px gray;
  border-radius: 5px;
  margin-left: 10px; 
  opacity: 0.8;
}

#ButtonsWrapper{
  width: 100%;
  height: 7%;
  justify-content: space-around;
  display: flex;
  margin-top: 6vh;
  margin-bottom: 6vh; 
}

.newCollectionName{
  width: 15vw;
  height: 8vh;
  margin-bottom: 2vh; 
}

.disp-block{
  display: block;
}

.disp-none{
  display: none;
}

.calloctionList{
  width: 20vw;
  height: 15vh;
  background-color: wheat;
  border-radius: 5px;
  margin-bottom: 4vh; 
  overflow-y: auto;
}

.Flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: wheat;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}