<div id="Public-Post" class="Flex">
    <mat-spinner [ngClass]="areTagsPresent? 'disp-none' : 'disp-block'"></mat-spinner>

    <div id="Img-Wrapper" class="Flex">
        <img id="User-Image" [src]="imageURL">
    </div>

    <div id="Panel" class="Flex">

        <form action="" [formGroup]="postForm" (ngSubmit)="savePost()" class="Flex">
            <label id="Title-Label">Title of your post:</label>
        
            <input type="text" id="Title"  class="Flex" formControlName="title">
        
            
            <div id="Buttons-Wrapper">
                <button id="Button-Public" type="button" class="Button-Share" [ngClass]="{'Button-Selected':isPostPublic}" (click)="selectPublicMode()" #ButtonPublic>Share publicly</button>

                <button id="Button-Private" type="button" class="Button-Share" [ngClass]="{'Button-Selected':!isPostPublic}" (click)="selectPrivateMode()" #ButtonPrivate>Share privately</button>
            </div>

            <div class="Flex-space-evenly">            
                <mat-form-field class="new-Collection-Name" [ngClass]="noCollectionFlag? 'disp-block' : 'disp-none'">
                    <mat-label>Name collection for this post</mat-label>
                    <input matInput  formControlName="newCollectionName">
                </mat-form-field>

                <span [ngClass]="collectionFoundFlag? 'disp-block' : 'disp-none'">
                    <label>Choose collection</label>
                    <mat-selection-list class="List" [formControl]="collectionControl" name="collections"  [multiple]="false" >
                        @for (coll of usersCollections; track coll) {
                        <mat-list-option [value]="coll.id">{{coll.name}}</mat-list-option>
                        }
                    </mat-selection-list>
                </span>

                <span [ngClass]="areTagsPresent? 'disp-block' : 'disp-none'">
                    <label>Choose tags</label>
                    <mat-selection-list class="List" [formControl]="tagControl" name="tags"  [multiple]="true">
                        @for (tag of pictureTags; track tag) {
                        <mat-list-option [value]="tag">{{tag}}</mat-list-option>
                        }
                    </mat-selection-list>
                </span>
            </div>

            <button id="Save"  type="submit" [disabled]="!postForm.valid || postSubmitted"  >Save</button> 

            <div id="Link-Wrapper" class="Flex">
            <span id="Link" >{{linkToPost}}</span>

            <button id="Copy" type="button" (click)="copyLink()">
                <img src="icons/copy-icon-white.svg">
            </button>
            </div>

        </form>
    </div>

</div>
