<h2 mat-dialog-title>Change password</h2>

<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Current password</mat-label>
      <input type="text" matInput formControlName="oldPassword" />
      <mat-error *ngIf="form.get('oldPassword')?.hasError('required')">
        Current password is required.
      </mat-error>
      <mat-error *ngIf="form.get('oldPassword')?.hasError('wronPassword')">
        Wrong password.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>New password</mat-label>
      <input type="text" matInput formControlName="newPassword" />
      <mat-error *ngIf="form.get('newPassword')?.hasError('required')">
        New Password is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Re-type new password</mat-label>
      <input type="text" matInput formControlName="confirmPassword" />
      <mat-error *ngIf="form.get('confirmPassword')?.hasError('required')">
        New Password is required.
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="form.hasError('mismatch')">
      Passwords do not match.
    </mat-error>
  </form>
  <div>
    <p>
      Password must be 8-16 characters, include an uppercase letter, lowercase
      letter, number, and special character.
    </p>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSubmit()">Save</button>
</mat-dialog-actions>
