.new-post {
  background-color: #001d3d;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-post-container {
  padding: 10px;
  width: 30%;
  height: 60%;
  background-color: #002853;

  border-radius: 5px;
  box-shadow: 2px 2px 9px 3px rgba(0, 0, 0, 0.2);
}

.drop {
  width: 100%;
  height: 60%;
  font-size: 1.25rem;
  background: rgba(255, 255, 255, 0.47);
  border-radius: 3px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.6px);
  -webkit-backdrop-filter: blur(3.6px);
  border: 0px solid rgba(255, 255, 255, 0.29);
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px dashed white;
  outline-offset: -10px;
}

form{
  width: 100%;
  height: 30%;
}

#drop-area{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#drop-text{
  display: block;
}
