<div id="PublicPost" class="Flex">

    <div id="ImgWrapper" class="Flex">
        <img id="UserImage" [(src)]="imageURL">
    </div>

    <div id="Panel" class="Flex">
        <label id="TitleLabel">Title of your post:</label>
        
        <input id="Title" placeholder="Title" class="Flex">
           
        <div id="Buttons">
            <button id="ButtonGlobal" class="ButtonShare">Share publicly</button>

            <button id="ButtonGlobal" class="ButtonShare">Share privately</button>
        </div>

        <span id="Link">lorem ipsum dos nwm co dalej</span>

        <button id="Save">Save</button> 
    </div>

</div>
