<div id="PublicPost" class="Flex">

    <div id="ImgWrapper" class="Flex">
        <img id="UserImage" [src]="imageURL">
    </div>

    <div id="Panel" class="Flex">

        <form action="" [formGroup]="titleForm" (ngSubmit)="savePost()" class="Flex">
            <label id="TitleLabel">Title of your post:</label>
        
            <input type="text" id="Title" class="Flex" formControlName="title">
        

             <div id="ButtonsWrapper">
                <button id="ButtonPublic" type="button" class="ButtonShare" [ngClass]="{'ButtonSelected':isPostPublic}" (click)="selectPublicMode()" #ButtonPublic>Share publicly</button>

               <button id="ButtonPrivate" type="button" class="ButtonShare" [ngClass]="{'ButtonSelected':!isPostPublic}" (click)="selectPrivateMode()" #ButtonPrivate>Share privately</button>
            </div>

            <button id="Save"  type="submit" [disabled]="!titleForm.valid">Save</button> 

            <div id="LinkWrapper" class="Flex">
            <span id="Link" >{{linkToPost}}</span>

            <button id="Copy" type="button" (click)="copyLink()">
                <img src="icons/copy-icon-white.svg">
            </button>
            </div>

        </form>
    </div>

</div>
