<div id="PublicPost" class="Flex">

    <div id="ImgWrapper" class="Flex">
        <img id="UserImage" [(src)]="imageURL">
    </div>

    <div id="Panel" class="Flex">
        <label id="TitleLabel">Title of your post:</label>
        
        <input id="Title" placeholder="Title" class="Flex">
           
        <div id="ButtonsWrapper">
            <button id="ButtonPublic" class="ButtonShare" (click)="selectPublicMode()">Share publicly</button>

            <button id="ButtonPrivate" class="ButtonShare" (click)="selectPrivateMode()">Share privately</button>
        </div>

        <div id="LinkWrapper" class="Flex">
        <span id="Link">https://lorem ipsum dos nwm co dalej</span>

        <button id="Copy">
            <img src="icons/copy-icon-white.svg">
        </button>
        </div>

        <button id="Save">Save</button> 
    </div>

</div>
