.wall {
  min-height: 100vh;
  width: 100%;
  padding-top: 74px;
  background-color: #0c3f8c;
}

.grid-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
:-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(110, 110, 110);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}