<div class="navbar">
  <div class="left">
    <a (click)="goHome()"><p>ScreenVault</p></a>
    <a routerLink="/upload-image"><button>New post</button></a>
  </div>
  <div class="center">
    <div class="search-bar">
      <form action="" [formGroup]="searchForm" (ngSubmit)="search()">
        <input type="text" formControlName="input" placeholder="title, #tags" />
        <button id="Save" type="submit">Search</button>
      </form>
    </div>
  </div>
  <div class="right">
    <a *ngIf="isLoggedIn" routerLink="/"
      ><button (click)="logout()">Logout</button></a
    >
    <a id="your-profile" *ngIf="isLoggedIn" routerLink="/user-profile"
      ><button class="px-2">Your profile</button></a
    >
    <a *ngIf="!isLoggedIn" routerLink="/login"
      ><button class="signin">Sign in</button></a
    >
    <a *ngIf="!isLoggedIn" routerLink="/signup"
      ><button class="signup">Sign up</button></a
    >
  </div>
</div>
