<div class="navbar">
  <div class="left">
    <p>ScreenVault</p>
    <a routerLink="/upload-image"><button>New post</button></a>
  </div>
  <div class="center">
    <div class="search-bar">
      <form>
        <input type="text" placeholder="Images, #tags, @users" />
        <button>Search</button>
      </form>
    </div>
  </div>
  <div class="right">
    <a routerLink="/login"><button class="signin">Sign in</button></a>
    <a routerLink="/signup"><button class="signup">Sign up</button></a>
  </div>
</div>
