:host {
  padding: 10px;
}
.wall-item{
  border-radius: 3px;
  color: white;
  display: flex;
  width: 350px;
}

button{
  display: flex;
  align-items: center;
}

.glossy-background {
  background: rgba(255, 255, 255, 0.47);
  border-radius: 3px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.6px);
  -webkit-backdrop-filter: blur(3.6px);
  border: 0px solid rgba(255, 255, 255, 0.29);
  position: relative;
}

.report-img{ 
  position: absolute;
  top: 0px;
  right: 0px;
  width: 1.5vw;
  height: 1.5vw;
  opacity: 0;
}

.hover{
  opacity: 1;
}

.report-icon{
  opacity: 0.85;
}

.report-icon:hover{

  opacity: 1;
}

p{
  overflow: hidden;
  max-height: 24px;
}

.dot-elastic {
  position: relative;
  top: 50%;
  left: 49%;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ffd60a;
  color: #ffd60a;
  animation: dot-elastic 1s infinite linear;
}
.dot-elastic::before,
.dot-elastic::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ffd60a;
  color: #ffd60a;
}
.dot-elastic::before {
  left: -15px;
  animation: dot-elastic-before 1s infinite linear;
}
.dot-elastic::after {
  left: 15px;
  animation: dot-elastic-after 1s infinite linear;
}

@keyframes dot-elastic-before {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1.5);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes dot-elastic {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 1.5);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes dot-elastic-after {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
