:host {
  padding: 10px;
}
.wall-item {
  border-radius: 3px;
  color: white;
  display: flex;
  width: 350px;
}

.glossy-background {
  background: rgba(255, 255, 255, 0.47);
  border-radius: 3px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.6px);
  -webkit-backdrop-filter: blur(3.6px);
  border: 0px solid rgba(255, 255, 255, 0.29);
}
