button {
  min-width: 108px;
  height: 35px;
  color: #000814;
  border: 0;
  border-radius: 3px;
  background-color: #ffd60a;
}

button:hover {
  cursor: pointer;
  background-color: #f5c518;
}
input {
  padding-left: 4px;
  color: white;
  border-radius: 3px;
  border: 1px solid transparent;
  background: rgba(255, 255, 255, 0.25);
}
input:focus {
  background: rgba(255, 255, 255, 0.5);
  outline: none;
  border: 1px solid transparent;
}
