<div class="flex flex-col bg-[#0c3f8c] pt-16 h-auto min-h-screen relative">
  <div class="absolute top-16 right-1">
    <button [matMenuTriggerFor]="settings" mat-button>
      <img src="icons/settings.svg" alt="settings" class="w-10" />
    </button>
    <mat-menu #settings="matMenu" class="bg-cyan-900">
      <button class="bg-cyan-900" mat-menu-item (click)="changePasword()">
        Change password
      </button>
    </mat-menu>
  </div>

  <div class="flex flex-row">
    <div
      class="relative max-h-44 m-4 max-w-44 shadow-[0_10px_20px_-10px_rgba(0,0,0,0.3)] hover:shadow-[0_15px_50px_-15px_rgba(0,0,0,0.8)]"
    >
      <img
        src="{{ userPhoto() }}"
        onerror="this.src='demo-avatar.png'"
        alt="Your photo"
        class="max-h-44 max-w-44 rounded-t-md"
      />
      <div
        class="bg-slate-50 relative w-8 h-8 left-[-10px] p-1 bottom-[15px] shadow-sm rounded-sm bg-opacity-70 cursor-pointer"
      >
        <input
          #fileInput
          type="file"
          class="hidden"
          id="file-input"
          accept="image/png, image/jpeg, image/jpg"
          (change)="changeUserProfilePicture($event)"
        />
        <label for="file-input" class="">
          <img
            matTooltip="Change"
            [matTooltipShowDelay]="300"
            src="icons/pencil-square.svg"
            alt="edit"
            class="w-6 cursor-pointer"
          />
        </label>
      </div>

      <button
        (click)="deleteProfilePicture($event)"
        class="bg-slate-50 relative w-8 left-[151px] bottom-[50px] shadow-sm rounded-sm bg-opacity-70 cursor-pointer"
      >
        <img
          matTooltip="Delete"
          [matTooltipShowDelay]="300"
          src="icons/bin.svg"
          alt="Delete"
          class="m-1"
        />
      </button>
    </div>
    <div class="m-4">
      <p class="text-3xl text-black">{{ userName() }}</p>
    </div>
  </div>
  <app-collections />
</div>
