<div id="wrapper">
    <div id="backgroud">
        <a routerLink="" routerLinkActive="active"><img id="exit-icon" src="icons\close.png"></a>
        
        <div id="img-wrapper">
            <img [src]="imgSrc">
            <button class="report-img" (click)="reportPost()" title="Report this post"> <img class="report-icon" src="icons\report-icon.png"> </button>
        </div>

        <div id="comment-wrapper">
            <span id="title">Comments</span>

            <div id="comments"  #commentsScroll>
                @for(comment of comments; track comment){
                    <div class="comment">
                        <label class="comment-title">
                            <span class="user-name">{{comment.userName}}</span>
                            <span class="posted-on-date">{{comment.postedOn | date: 'yyyy-MM-dd'}}</span>
                            <button class="report-img" (click)="reportComment(comment.id)" title="Report this comment"> <img class="report-icon" src="icons\report-icon.png"> </button>
                        </label>
                        <span class="comment-text">{{comment.text}}</span>       
                    </div>
                }
            </div>

            <div id="comment-creation">
                <form action="" [formGroup]="addCommentForm" (ngSubmit)="saveComment()">
                    <label>Add your comment</label>
                    <input type="text" id="Title" formControlName="comment"/>
                    <button id="Save"  type="submit" [disabled]="!addCommentForm.valid" [ngClass]="buttonActive">Submit comment</button>
                </form>
            </div>
        </div>
    </div>
</div>