#wrapper{
    min-height: 100vh;
    width: 100%;
    padding: 85px 20px 20px 20px;
    background-color: #0c3f8c;  
}

#backgroud{
    background: rgba(255, 255, 255, 0.47);
    height: calc(100vh - 105px);
    min-height: calc(100vh - 105px);
    width: calc(100vw - 40px);
    position: relative;
    padding: 5px;
    display: flex;
    justify-content: space-between; 
}

a{
    position: absolute;
    top: -1vh;
    right: -1vh;
    min-height: 4vh;
    min-width: 4vh;
    border-radius: 50%;
    z-index: 2;
    background-color: darkgrey;
    box-shadow: 2px 2px 2px 2px black;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
  }

#exit-icon{
    height: 2vh;
    position:relative;
    margin: auto;
}

#img-wrapper{
    height: 100%;
    width: 50%;
    background-color: red;
}

#comment-wrapper{
    background-color: green;
    height: 100%;
    width: 49%;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
}

#title{
    font-size: 2vw;
}

#comment-creation{
    background-color: red;
    width: 100%;
    height:5%;
}
