<div class="p-24 flex bg-slate-600 relative top-40 left-4 flex-col">
  <div class="flex flex-row" cdkDropListGroup>
    <div
      *ngFor="let collection of userCollections"
      class="border-solid border-red-300 border-2 m-3 flex p-4"
      cdkDropList
      [cdkDropListData]="collection.photos"
      (cdkDropListDropped)="onDrop($event, collection.photos)"
    >
      <p class="" (click)="currentCollection = collection.id">
        {{ collection.name }}
      </p>

      <div *ngIf="currentCollection == collection.id" class="flex flex-row">
        <div *ngFor="let photo of collection.photos" class="m-2" cdkDrag>
          {{ photo.name }}
          <img src="{{ photo.url }}" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
