<div class="login">
  <div class="logincontainer">
    <div class="logo">
      <a routerLink="/">
        <p>ScreenVault</p>
      </a>
    </div>

    <div class="form">
      <div><p>Login</p></div>

      <form action="">
        <input type="text" placeholder="Email" />

        <input
          type="password"
          style="margin-top: 10px"
          placeholder="Password"
        />

        <button>Sign in</button>
      </form>
    </div>
    <a routerLink="/signup"><p>Need an acount?</p></a>
    <button routerLink="/signup" class="signupButton">Sign up</button>
  </div>
</div>
