<div class="login">
  <div class="logincontainer">
    <div class="logo">
      <a routerLink="/">
        <p>ScreenVault</p>
      </a>
    </div>

    <div class="form">
      <div><p>Login</p></div>

      <form action="" [formGroup]="logInForm" (ngSubmit)="submitLogIn()">
        <input 
          type="text" 
          placeholder="Email" 
          formControlName="email"
          />

        <input
          type="password"
          placeholder="Password"
          formControlName="password"
          maxlength="16"
        />

        <button type="submit" [disabled]="!logInForm.valid">Sign in</button>
      </form>
    </div>
    <a routerLink="/signup"><p>Need an acount?</p></a>
    <button routerLink="/signup" class="signupButton">Sign up</button>
  </div>
</div>
