<div class="login">
  <div class="logincontainer">
    <div class="logo">
      <a routerLink="/">
        <p>ScreenVault</p>
      </a>
    </div>

    <div class="form">
      <div><p class="pb-2">Login</p></div>

      <form action="" [formGroup]="logInForm" (ngSubmit)="submitLogIn()">
        <input type="text" placeholder="Email" formControlName="email" />

        <input
          type="password"
          placeholder="Password"
          formControlName="password"
          maxlength="16"
        />

        <button class="ml-4" type="submit" [disabled]="!logInForm.valid">Sign in</button>
      </form>
      <p class="text-red-600 pt-3">Wrong email or password</p>
    </div>
    <div class="w-p[350] h-[40px] mt-4">
      <a class="relative left-[80px]" routerLink="/signup">Need an acount?</a>
      <button class="relative left-[119px]" routerLink="/signup">Sign up</button>
    </div>
  </div>
</div>
