<div>
  <div class="m-4 flex flex-row bg-white/[.25] rounded-md flex-wrap shadow-md">
    <div *ngFor="let collection of userCollections" class="flex flex-col">
      <div class="m-4 flex flex-col items-center rounded-md max-w-24">
        <div class="relative">
          <img
            (click)="openFolder(collection)"
            src="icons/folder.svg"
            alt="Colection"
            class="drop-shadow-md cursor-pointer hover:drop-shadow-[0_15px_15px_rgba(0,0,0,0.4)]"
          />
          <button
            (click)="deleteUserCollection(collection.id)"
            class="bg-slate-50 absolute w-5 left-[70px] bottom-[10px] shadow-sm rounded-sm bg-opacity-70 cursor-pointer z-10"
          >
            <img
              matTooltip="Delete"
              [matTooltipShowDelay]="300"
              src="icons/bin.svg"
              alt="Delete"
              class="m-[2px]"
            />
          </button>
        </div>

        <div
          class="cursor-pointer"
          matTooltip="Click to rename"
          [matTooltipShowDelay]="300"
          (click)="renameFolder(collection.id)"
        >
          <p class="text-xl text-black text-center">{{ collection.name }}</p>
        </div>
      </div>
    </div>

    <div class="m-4 flex flex-col items-center rounded-md max-w-24">
      <div
        class=""
        (click)="addNewFolder()"
        matTooltip="Click to add new folder"
        [matTooltipShowDelay]="300"
      >
        <img
          src="icons/folder.svg"
          alt="Colection"
          class="drop-shadow-md cursor-pointer hover:drop-shadow-[0_15px_15px_rgba(0,0,0,0.4)]"
        />
      </div>
      <p class="text-xl text-black text-center">New folder</p>
    </div>
  </div>
  <div class="flex flex-wrap">
    <div
      *ngFor="let folder of openedFolders"
      class="m-4 flex bg-white/[.25] rounded-md flex-wrap shadow-md relative flex-col"
    >
      <img
        src="icons/question-square-mark.svg"
        alt="Help"
        class="w-7 absolute right-8 top-0"
        matTooltip="Red - public, green - private"
      />
      <img
        src="icons/close.svg"
        alt="Close"
        class="w-7 absolute right-0 top-0 cursor-pointer"
        matTooltip="Close"
        (click)="openFolder(folder)"
      />

      <div class="flex flex-row justify-center">
        {{ folder.name }}
      </div>
      <div class="flex flex-row">
        <div *ngFor="let item of folder.photos">
          <img
            src="{{ item.url }}"
            alt="photo"
            class="max-h-40 mt-5 ml-3 mr-3 mb-3 rounded-md"
          />
        </div>
        <div
          *ngIf="folder.photos.length == 0"
          class="h-40 w-40 mt-5 ml-3 mr-3 mb-3"
        >
          No photos yet
        </div>
      </div>
    </div>
  </div>
</div>
