<div>
  <div class="m-4 flex bg-white/[.25] rounded-md flex-wrap shadow-md">
    <div *ngFor="let collection of userCollections" class="flex">
      <div class="m-4 flex flex-col items-center rounded-md max-w-24">
        <div class="relative">
          <img
            (click)="ToogleFolder(collection)"
            src="icons/folder.svg"
            alt="Colection"
            class="drop-shadow-md cursor-pointer hover:drop-shadow-[0_15px_15px_rgba(0,0,0,0.4)]"
          />
          <button
            (click)="deleteUserCollection(collection.id)"
            class="bg-slate-50 absolute w-5 left-[70px] bottom-[10px] shadow-sm rounded-sm bg-opacity-70 cursor-pointer z-10"
          >
            <img
              matTooltip="Delete"
              [matTooltipShowDelay]="300"
              src="icons/bin.svg"
              alt="Delete"
              class="m-[2px]"
            />
          </button>
        </div>

        <div
          class="cursor-pointer"
          matTooltip="Click to rename"
          [matTooltipShowDelay]="300"
          (click)="renameFolder(collection.id)"
        >
          <p class="text-xl text-black text-center">{{ collection.name }}</p>
        </div>
      </div>
    </div>

    <div class="m-4 flex flex-col items-center rounded-md max-w-24">
      <div
        class=""
        (click)="addNewFolder()"
        matTooltip="Click to add new folder"
        [matTooltipShowDelay]="300"
      >
        <img
          src="icons/folder.svg"
          alt="Colection"
          class="drop-shadow-md cursor-pointer hover:drop-shadow-[0_15px_15px_rgba(0,0,0,0.4)]"
        />
      </div>
      <p class="text-xl text-black text-center">New folder</p>
    </div>
  </div>
  <div class="flex flex-wrap" cdkDropListGroup>
    <div
      *ngFor="let folder of openedFolders"
      class="m-4 flex bg-white/[.25] rounded-md flex-wrap shadow-md flex-col min-h-40 min-w-40"
      cdkDropList
      [cdkDropListData]="folder"
      (cdkDropListDropped)="onDrop($event)"
      cdkDropListOrientation="mixed"
    >
      <div class="flex flex-row justify-between items-center">
        <div class="w-16"></div>
        <div class="text-center mr-5">
          <p>{{ folder.name }}</p>
        </div>
        <div class="flex float-right">
          <img
            src="icons/question-square-mark.svg"
            alt="Help"
            class="w-7"
            matTooltip="To move post - drag and drop it to another folder"
          />
          <img
            src="icons/close.svg"
            alt="Close"
            class="w-7 cursor-pointer"
            matTooltip="Close"
            (click)="ToogleFolder(folder)"
          />
        </div>
      </div>

      <div class="flex flex-row flex-wrap overflow-hidden">
        <div
          *ngFor="let item of folder.posts"
          cdkDrag
          class="cursor-move relative"
        >
          <div
            class="max-h-60 mt-5 ml-3 mr-3 mb-3 rounded-md flex max-w-60 relative"
          >
            <img
              src="{{ item.imageUrl }}"
              alt="photo"
              class=""
              (click)="openPost(item.id)"
              [ngClass]="{
                'border-solid border-[1px] border-red-700': item.isPublic
              }"
            />
            <button
              (click)="deletePost(item.id)"
              class="bg-slate-50 absolute w-5 right-[-3px] bottom-[-3px] shadow-sm rounded-sm bg-opacity-70 cursor-pointer z-10"
            >
              <img
                matTooltip="Delete"
                [matTooltipShowDelay]="300"
                src="icons/bin.svg"
                alt="Delete"
                class="m-[2px]"
              />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
