<div class="bg-slate-700 w-screen h-screen flex justify-center items-center">
  <div *ngIf="file" class="flex w-3/6">
    <!-- <div class="flex justify-center"> -->
    <img
      class="max-w-[70vh] max-h-[70vh] min-h-[100px] min-w-[100px] border-4 border-black"
      [src]="imageUrl"
      alt="Preview of the uploaded image"
    />
  </div>
  <div class="basis-1/4 flex justify-center">
    <div>
      <input
        type="text"
        id="title"
        placeholder="Title"
        [(ngModel)]="title"
        class="p-4 m-5 size-9 w-44"
      />
      <br />
      <button class="m-5" (click)="onPublish()">Publish Post</button>
      <button class="px-2 m-5">Edit before publish</button>
      <br />
      <span class="m-5">Your link</span>
      <br />
      <input
        [(ngModel)]="imageToShareUrl"
        class="size-9 w-44 m-5"
        type="text"
        disabled
        #input
      />
      <button class="m-5" [cdkCopyToClipboard]="imageToShareUrl">Copy</button>
    </div>
  </div>
</div>
